/* ------------------------------------- HEADER start --------------------------------------*/
body {
    display: block;
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
}
header {
    display: block;
    background-color: #2d303a; 
    height: 100px;
}
.line-nav {
    height: 6px;
    width: 100%;
    background-color: #323746;
}
header ul {
    padding: 20px; /* Поля вокруг текста */
    text-align: right;
}
header li {
    display: inline-block; /* Отображать как строчный элемент */
    color: white; 
    margin-right: 10px;
    position: relative; /* позволяю менять позицию */
    top: 20px;  /* меняю позицию */
    font-family: 'Lato Bold', Arial, sans-serif;
    font-size: 1rem;
}
header h1 {
    float: left;
    color: white;
    padding: 10px;
    margin-left: 15px; /* Отступ слева */
    font-family: 'Lato Bold', Arial, sans-serif;
    font-size: 2rem;
}
header h1.star::after {
    content:"*";
    color:#e66962;
}
header li:not(:last-child)::after {
    content:"\00B7";
    color: gray;
    margin-left: 13px;
}
header li:hover {
    color:#e66962;    
}
/* ------------------------------------- HEADER END ----------------------------------------*/
/* ------------------------------------- SLIDER start --------------------------------------*/
#wrapper {
    width: 4080px;
    position: relative;
    left: 0px;
}
.content {
    float: left;
    width: 1020px;
    height: 600px;
    white-space: normal;
    background-repeat: no-repeat;
}
#itemOne {
    background-color: #f06c64;
}
#contentContainer {
    width: 1020px;
    height: 600px;
    overflow: hidden;
}
.navLinksL {
    width: 50px;
    height: 50px;
    background-image: url("img/chev-left.png")
}
.navLinksR {
    width: 50px;
    height: 50px;
    background-image: url("img/chev-right.png")
}