@font-face {
    font-family: "Lato Light";
    src: url("./assets/fonts/Lato-Light.ttf");
}

@font-face {
    font-family: "Lato Regular";
    src: url("./assets/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato Bold";
    src: url("./assets/fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: "Lato Black";
    src: url("./assets/fonts/Lato-Black.ttf");
}
* {
    margin: 0; /* Обнуление всех стандартных маржинов */
 }
 
/* ------------------------------------- HEADER start --------------------------------------*/
body {
    display: block;
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
}
header {
    display: block;
    background-color: #2d303a; 
    height: 88px;
}
.line-nav {
    height: 6px;
    width: 100%;
    background-color: #323746;
}
.line-nav2 {
    height: 6px;
    width: 100%;
    background-color: #ea676b;
}
.line-nav3 {
    height: 6px;
    width: 100%;
    background-color: #ffffff;
}
header ul {
    padding: 20px; /* Поля вокруг текста */
    text-align: right;
}
header li {
    display: inline-block; /* Отображать как строчный элемент */
    color: white; 
    margin-right: 13px;
    position: relative; /* позволяю менять позицию */
    top: 20px;  /* меняю позицию */
    font-family: 'Lato Bold', Arial, sans-serif;
    font-size: 13px;
    letter-spacing: -1px;
}
header h1 {
    float: left;
    color: white;
    padding: 10px;
    margin-left: 15px; /* Отступ слева */
    font-family: 'Lato Bold', Arial, sans-serif;
    font-size: 25px;
}
.star {
    margin-left: 30px;
    margin-top: 20px;
    letter-spacing: -1px;
}
header h1.star::after {
    content:"*";
    color:#e66962;
}
header li:not(:last-child)::after {
    content:"\00B7";
    color: gray;
    margin-left: 13px;
}
header li:hover {
    color:#e66962;    
}
/* ------------------------------------- HEADER END ----------------------------------------*/
/* ------------------------------------- SLIDER start --------------------------------------*/
#slider {
    display: flex;
    width: 1020px;
    height: 592px;
    background-color: #f06c64;

}
.navLinksL {
    display: flex;
    width: 60px;
    height: 600px;
    align-items: center;
    justify-content: center;
    margin-left: 27px;
    margin-top: -8px;
    z-index: 3;
}
.navLinksR {
    display: flex;
    width: 60px;
    height: 600px;
    align-items: center;
    justify-content: center;
    margin-right: 27px;
    margin-top: -8px;
    z-index: 3;
}
.navLinksL:hover {
    display: flex;
    cursor: e-resize;
}
.navLinksR:hover {
    display: flex;
    cursor: e-resize;
}
#iphone1 {
    display: flex;
    width: 450px;
    height: 600px;
    align-items: center;
    justify-content: left; 
    padding-left: 50px;
    z-index: 1;
    margin-left: -10px;
    margin-top: -6px;

}
#iphone2 {
    display: flex;
    width: 450px;
    height: 600px;
    align-items: center;
    justify-content: center;
    padding-right: 58px;
    margin-top: -6px;
    z-index: 1;
}
#layer1 {
    display: flex;
    position: absolute;
    z-index: 2;
    padding-left: 123px;
    padding-top: 115px;
}
#layer2 {
    display: flex;
    position: absolute;
    z-index: 2;
    padding-left: 481px;
    padding-top: 185px;
}
/* ------------------------------------- SLIDER END --------------------------------------*/
/* ------------------------------------- OurServices start---------------------------------*/
#OurServices {
    height: 107px;
    padding: 40px;
    color: #767e9e;
    background-color: #f2f2f2;
    font-family: 'Lato bold', Arial, sans-serif;
    font-size: 15px;
}
#OurServices h1 {
    letter-spacing: -1px;
}
#OurServices div {
    font-family: 'Lato Light', Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
}
#OurServices1 {
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 100px 220px 100px 220px 100px 220px;
    grid-template-rows: 122px 122px ;
    padding-top: 8px;
    padding-left: 20px;
    height: 300px;
}
#OurServices1 > div {
    color: #767e9e;
    font-family: 'Lato Black', 'Regular'; 
    font-size: 9pt; 
    text-align: left;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
}
.pic {
    margin-top: 25px;
    margin-left: auto;
}
/* ---------------------- */
.singolo2 {
    display: block;
    width: 1020px;
    margin: 0px;
    background-color: #2d303a;
    color: #666d89;
    font-family: 'Lato Black', Arial, sans-serif;
}
.logo {
    padding-left: 40px;
    padding-top: 60px;
    font-size: 15px;
    letter-spacing: 0.3px;
}
.logo-text {
    padding-left: 40px;
    padding-top: 22px;
    font-family: 'Lato Light', Arial, sans-serif;
    font-size: 18px;
    letter-spacing: -0.2px;
}
.singolo2 ul {
    padding-top: 14px;
    align-items: left;

}
.singolo2 li {
    display: inline-block; 
    position: relative;
    font-family: 'Lato Black', Arial, sans-serif;
    font-size: 11px;
    letter-spacing: 0.2px;
    border: 1px solid #666d89;
    border-radius: 5px;
    padding-left: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 7px;
    margin: 0 6px;
    margin-left: 0px;
}
.singolo2 li:hover {
    color:whitesmoke;   
    border: 1px solid whitesmoke;
}
/* --------------------------- foto ------------------------------*/
#foto {
    height: 668px;
    background-color: #2d303a;
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 188px 188px 188px;
    grid-row-gap: 19px;
    grid-column-gap: 20px;
    padding-left: 40px;
    padding-top: 20px;
}
/* ----------------------- AboutUs ---------------------*/
.line-nav4 {
        height: 6px;
        width: 100%;
        background-color: #323746;
}
.singolo2-footer {
    background-color: #f2f2f2;
    color: #666d89;
    height: 728px;
    font-family: 'Lato Black', Arial, sans-serif;
}
.footer-logo {
    padding-left: 40px;
    padding-top: 59px;
    font-size: 15px;
}
.footer-logo-text {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 18px;
    font-family: 'Lato Light', Arial, sans-serif;
    font-size: 18px;
    text-align: justify;
    letter-spacing: -0.2px;
    line-height: 1.7;
}

#aboutus {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    grid-row-gap: 15px;
    grid-column-gap: 20px;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 45px;
}
#aboutus li {
    display: inline-block;
}
.aboutus-name {
    font-size: 12px;
}
.aboutus-text {
    font-family: 'Lato Regular', Arial, sans-serif;
    font-size: 12px;
    text-align: justify;
    line-height: 1.7;
    padding-top: 10px;
}
.contact-icon {
    padding-left: 0;
    padding-top: 24px;
}
.contact-icon li{
    margin: 0 4px;
    margin-left: 0px;
}
.line-nav5{
    height: 6px;
    width: 100%;
    background-color: white;
}
/* ------------------ divform ---------------------*/
.divform {
    display: block;
    width: 1020px;
    background-color: #f06c64;
}
.divform-logo {
    color: #f0d8d9;
    font-family: 'Lato Black', Arial, sans-serif;
    padding-left: 40px;
    padding-top: 60px;
    font-size: 15px;
    letter-spacing: 0.3px;
}
.divform-logo-text {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 18px;
    font-family: 'Lato Light', Arial, sans-serif;
    color: #f0d8d9;
    font-size: 18px;
    text-align: justify;
    letter-spacing: -0.2px;
    line-height: 1.7;
}